.div {
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
}

.button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.button:disabled {
    cursor: auto;
    opacity: 0;
}

.img {
    fill: black;
}