.div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    height: 50vh;
    min-height: 150px;
    max-height: 500px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}