.button {
    display: flex;
    align-items: center;
    width: 100px;
    border: none;
    background-color: bisque;
    
}

.button:hover {
    cursor: pointer;
}

.pokedexImg {
    width: 6.25rem;
    height: 2.5rem;
    margin: 10px 5px 10px 0px
}

.pokeballImg {
    width: 5rem;
    height: 2.5rem;
    margin: 10px 5px 10px 10px
} 